* {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCodePL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 0, 0);
  font-family: 'Cascadia Code';
  overflow: hidden; /* Убираем прокрутку */
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Отступы между текстами */
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%; /* Начальное состояние */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .text {
    white-space: normal; /* Разрешить перенос текста */
    font-size: 1.5rem; /* Уменьшить размер текста */
    line-height: 1.8; /* Увеличить межстрочный интервал */
    padding: 10px; /* Добавляем отступы для читаемости */
  }
}

.iconMain {
  display: inline-block;
  fill: white; /* Цвет по умолчанию */
  height: 48px; /* Высота */
  width: 48px; /* Ширина */
  transition: transform 0.3s ease, fill 0.3s ease; /* Анимация для масштабирования и цвета */
  cursor: pointer;
}

.iconMain:hover {
  transform: scale(1.2) rotate(15deg); /* Увеличение и легкий поворот при наведении */
  fill: #00d4ff; /* Изменение цвета при наведении */
}

.iconMain:active {
  transform: scale(0.9); /* Легкое уменьшение при клике */
  fill: #ff007f; /* Цвет при нажатии */
}

/* Дополнительная анимация появления */
@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.iconMain.animate {
  animation: pop 0.5s ease-out; /* Анимация появления и плавности */
}